*{
margin:0;
padding: 0;
}

.page_wrp {
display: block;
margin: auto;
}

header {
box-sizing: border-box;
border-bottom: 2px solid rgba(155 , 155, 155, 0.4);
}

.header_wrp {
margin: auto;
width: 960px;
height: 90px;
display: flex;
justify-content: space-between;
}

h1 {
width: 250px;
height: 90px;
display: flex;
background-color:rgb(73,170,165);
color: aliceblue;
font-size: 18px;
align-self: center;
justify-content: center;
align-items: center;
}

ul {
width: 250px;
display: flex;
list-style-type: none;
justify-content: space-between;
align-items: center;

}

.link {
color:rgb(155,155,155);
text-decoration: none;
}

.linkc {
color:rgb(155,155,155);
text-decoration: none;
border-right: 1px solid rgba(155 , 155, 155, 0.4);
border-left: 1px solid rgba(155 , 155, 155, 0.4);
padding-left: 22px;
padding-right: 16px;
}

.content_wrp {
padding-top: 35px;
background-color: #f1f1f1;
height: 975px;
}
.container_size {
display: block;
margin-left: auto;
margin-right: auto;
width: 959px;
height: 935px;
background-color: #ffffff;
border: 1px solid rgba(155 , 155, 155, 0.2);

}

.container {
margin-left: auto;
margin-right: auto;
width: 900px;
padding-left: 30px;
padding-right: 30px;
}

.project_area {
padding-top:30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.project_wrp {
width: 275px;
height: 205px;
padding-right: 40px;
position: relative;
margin-bottom: 55px;
}

.project_image {
width: 275px;
height: 205px;
}

.project_name {
font-family: serif;
font-size: 18px;
height: 60px;
width: 275px;
background-color:rgb(73,170,165);
position: absolute;
bottom: 9px;
display: flex;
margin: auto;
}

.project_text {
width: 275px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 20px;
font-family: serif;
}

h2 {
color:rgb(73,170,165);
width: 900px;
height: 95px;
display: flex;
align-items: center;
background-color: #ffffff;
border-bottom: 3px solid rgba(155 , 155, 155, 0.4);
}


.footer {
text-align: center;
height: 55px;
background-color:rgb(102,102,102);
font-size: 12px;
border-top: 8px solid rgb(73,170,165);
display: flex;
flex-direction: column-reverse;
padding-bottom: 3px;
color: #fff}

a:hover {
color: #4aaaa5;
cursor: pointer;
}

